body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blue;
}

canvas {
    background-color: rgb(206, 248, 38);
    border: 2px solid rgb(161, 196, 74);
}
#resultText {
    color: aliceblue;
    font-size: 24px;
    margin-top: 250px;
}